h1,
h2,
h3,
h4,
h5,
h6{
    font-family: titleFont;
}

h1{line-height: 1.8rem;}
h2{line-height: 1.7rem;}
h3{line-height: 1.6rem;}
h4{line-height: 1.5rem;}
h5{line-height: 1.4rem;}
h6{line-height: 1.3rem;}


p{
    font-family: contentFont;
    line-height: 1.2rem;;
}

sub{
    font-family: subFont;
    line-height: 1.1rem;;
}